[Unit]
Description=GitHub Auto Poller
After=network.target
Wants=network.target

[Service]
Type=simple
User=admin
Group=admin
ExecStart=/usr/bin/python3 /home/admin/check.py
WorkingDirectory=/home/admin
Environment=GITHUB_TOKEN=token
Restart=always
RestartSec=10


[Install]
WantedBy=multi-user.target