[Unit]
Description=Caiji
After=network.target
Wants=network.target

[Service]
Type=simple
User=admin
Group=admin
ExecStart=/usr/bin/python3 /home/admin/test/caiji.py
WorkingDirectory=/home/admin/test
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

